body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
span {
  color: #2e2f42;
}
.nav-punkt-st {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-punkt-st:hover {
  color: #404bbf;
}
.nav-punkt-st:focus {
  color: #404bbf;
}
.adress-styl {
  font-style: normal;
}
.adress-email {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-email:hover {
  color: #404bbf;
}
.adress-email:focus {
  color: #404bbf;
}
.main-styl {
  background-color: #2e2f42;
}
.hg-styl {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-styl {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-styl:hover {
  background-color: #404bbf;
}
.button-styl:focus {
  background-color: #404bbf;
}
.ht-styl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.p-section-one {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-our-tem {
  background-color: #f4f4fd;
}
.ht-our-time {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.li-our-time-one {
  background-color: #ffffff;
}
.ht-our-time-mark {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.h-our-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.out-portfolio-bank {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.out-portfolio-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-end {
  background-color: #2e2f42;
}
.span-footer {
  color: #f4f4fd;
}
.p-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
